@model IEnumerable<ViewModels.UserSelectedAudioViewModel>
@{
	Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";

}

@section head{

	<style>
		*,
		*:before,
		*:after {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}

		output {
			display: block;
			font-size: 30px;
			font-weight: bold;
			text-align: center;
			margin: 30px 0;
			width: 100%;
		}

		.u-left {
			float: left;
		}

		.u-cf:before,
		.u-cf:after {
			content: "";
			display: table;
		}

		.u-cf:after {
			clear: both;
		}

		.u-text-left {
			text-align: left;
		}
	</style>
}

<div class="row">
	<div class="col-md-12">
		<table id="audiosTable" class="table table-bordered table-responsive">
			<thead>
				<tr>
					<th>Week</th>
					<th>Induction</th>
					<th>Deepening</th>
					<th>Therapy</th>
					<th>Ending</th>
					@*<th>Select Audio</th>*@
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@item.WeekNo
						</td>
						<td>
							@if (!string.IsNullOrEmpty(item.InductionAudio))
							{
								@*<button onclick="play('Induction')">
									<i class="fa fa-play"></i>Play
								</button>*@
							
                                <audio class="media" controls id="Induction_@item.WeekNo" src="@item.InductionAudio"></audio>
							}
						</td>

						<td>
							@if (!string.IsNullOrEmpty(item.DeepeningAudio))
							{
								@*<button onclick="play('Deepening')">
									<i class="fa fa-play"></i>Play
								</button>*@
							    <audio class="media" controls id="Deepening_@item.WeekNo" src="@item.DeepeningAudio"></audio>
								@*<audio controls="controls" id="Deepening" src="@item.DeepeningAudio"></audio>*@
							}
						</td>

						<td>
							@if (!string.IsNullOrEmpty(item.TherapyAudio))
							{
								@*<button onclick="play('Therapy')">
									<i class="fa fa-play"></i>Play
								</button>*@
								<audio class="media" controls="controls" id="Therapy_@item.WeekNo" src="@item.TherapyAudio"></audio>
							}
						</td>

						<td>
							@if (!string.IsNullOrEmpty(item.EndingAudio))
							{
								@*<button onclick="play('Ending')">
									<i class="fa fa-play"></i>Play
								</button>*@
								<audio class="media" controls="controls" id="Ending_@item.WeekNo" src="@item.EndingAudio"></audio>
							}
						</td>

						@*<td>
							@if (!item.IsChoose)
							{
								if (item.IsAvailable)
								{
									<a class="btn" href="/userselectedaudios/SelectNewAudios/@ViewBag.Id?weekNo=@item.WeekNo">
										select
									</a>
								}
								else
								{
									<button disabled="disabled" class="btn">
										<img src="~/Images/61457.png" width="15px" /> select
									</button>
								}
							}
						</td>*@


					</tr>
				}


			</tbody>
		</table>

	</div>
</div>

@section scripts{
    <script>
        function play(id) {
            var audio = document.getElementById(id);

            audio.play();
		}

        document.addEventListener('play', function(e) {
            var audios = document.getElementsByTagName('audio');
            for (var i = 0, len = audios.length; i < len; i++) {
                if (audios[i] != e.target) {
					audios[i].pause();
                    audios[i].currentTime = 0;
                }
            }
        }, true);
        var audios = document.getElementsByClassName('media');
        var j =audios.length;
        var table = document.getElementById("audiosTable");
        var totalRowCount = table.rows.length;
        for (let i = 1; i < totalRowCount; i++) {
			document.getElementById("Induction_" + i).onended = function () {
                
                //document.querySelectorAll('audio').forEach(el => el.pause());
                document.getElementById("Deepening_" + i).play();
            };

			document.getElementById("Deepening_" + i).onended = function () {
             
             /*   document.querySelectorAll('audio').forEach(el => el.pause());*/
                document.getElementById("Therapy_" + i).play();
            };

			document.getElementById("Therapy_" + i).onended = function () {
              
                //document.querySelectorAll('audio').forEach(el => el.pause());
                document.getElementById("Ending_" + i).play();
            };
        }
    </script>
}